.git
.github
.vscode
.idea

node_modules
server/node_modules
client/node_modules

dist
build
coverage

.env
.env.*
server/.env
server/.env.*
client/.env
client/.env.*

*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
